<html>
<body>
<form id="submitPay" name="submitPay" action="http://api.zhongnanpay.com:3022/hmpay/online/createWxOrder.do" method="POST">
<input type="hidden" name="merchant_no" value="168666999001200"/>
<input type="hidden" name="total_fee" value="123400"/>
<input type="hidden" name="pay_num" value="1497421490116916413"/>
<input type="hidden" name="notifyurl" value="http://hjba.083760.com/home/pay_zn/notify.html"/>
<input type="hidden" name="sign" value="01850b93116d993abe9a44048988803d"/>
<input type="hidden" name="pay_type" value="qkpay"/>
<input type="hidden" name="card_no" value="6225885927341529"/>
<input type="hidden" name="return_url" value="http://hjba.083760.com/home/pay_zn/jump_notify.html"/>
<script>document.forms["submitPay"].submit();</script>
</script>
</form>
</body>
</html>