<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link rel="stylesheet" href="__CSS__/compiled/index.css" type="text/css" media="screen" />  
<div class="container-fluid">

    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row-fluid stats-row">
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">{$extend_count}</span>
                    运营中心
                </div>
                <span class="date">截止{$date}</span>
            </div>
          <div class="span3 stat last">
                <div class="data">
                    <span class="number">{$agent_count}</span>
                    机构
                </div>
                <span class="date">截止{$date}</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">{$user_count}</span>
                    用户
                </div>
                <span class="date">截止{$date}</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">{$order_count}</span>
                    订单
                </div>
                <span class="date">最近7天</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$sum}</span>
                    交易总额
                </div>
                <span class="date">最近30天</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$balance}</span>
                    提现
                </div>
                <span class="date">最近30天</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$point}</span>
                    充值
                </div>
                <span class="date">最近30天</span>
            </div>
            
<!--             <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$exchange_rmb}</span>
                    交易所佣金
                </div>
                <span class="date">截止{$date}</span>
            </div>

            <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$operate_rmb}</span>
                    运营中心佣金
                </div>
                <span class="date">截止{$date}</span>
            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">￥{$sum_rmb}</span>
                    用户推广佣金
                </div>
                <span class="date">截止{$date}</span>
            </div> -->

        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">

        <!-- statistics chart built with jQuery Flot -->
        <!--<div class="row-fluid chart">
            <h4>
                统计<small>Statistics</small>
                 <div class="btn-group pull-right">
                    <button class="glow left">今天</button>
                    <button class="glow middle active">本月</button>
                    <button class="glow right">今年</button>
                </div>
            </h4>
            <div class="span12">
                <div id="statsChart"></div>
            </div>
        </div>-->
        <!-- end statistics chart -->
        <!-- table sample -->
        <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
        <div class="table-products" style="padding-top: 0;">
            <div class="row-fluid head">
                <div class="span12">
                    <h4>今日交易记录 <small>Orders</small></h4>
                </div>
            </div>
            <div class="row-fluid">
                <table class="table table-hover">
                    <thead>
                        <tr>
                                <th class="span3 sortable">
                                    订单编号
                                </th>
								<th class="span3 sortable">
                                    <span class="line"></span>用户
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>订单时间
                                </th>
                                <th class="span4 sortable">
                                    <span class="line"></span>产品信息
                                </th>
								<th class="span2 sortable">
                                    <span class="line"></span>数量
                                </th>
								<th class="span2 sortable">
                                    <span class="line"></span>类型
                                </th>
								<th class="span2 sortable">
                                    <span class="line"></span>订单状态
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>买入点位
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>平仓点位
                                </th>
<!--                                 <th class="span2 sortable">
                                    <span class="line"></span>止盈
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>止损
                                </th> -->
								<th class="span3 sortable">
                                    <span class="line"></span>手续费
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>保证金
                                </th>
								<th class="span3 sortable">
                                    <span class="line"></span>出入金额
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>盈亏
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>用户余额
                                </th>
                            </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    <volist name="orders" id="vo">
                        <tr class="first">
							<td>
                                {$vo.jno}
                            </td>
                            <td>
                                <a href="{:U('User/updateuser',array('uid'=>$vo['uid']))}" class="name">{$vo.username}</a>
                            </td>
                            <td>
                                {$vo.jtime|date='Y-m-d H:i:s',###}
                            </td>
                            <td>
								{$vo.remarks}
                            </td>
							<td>
                                {$vo.number}手
                            </td>
							<td>
								<if condition='$vo.jostyle eq 1'>
                                <span class="label label-success">买跌</span></span>
                            	<else/>
								<span class="label label-cc">买涨</span></span>
								</if>
                            </td>
                            <td>
                               <if condition="$vo['jtype'] eq '建仓'">
								<span class="label label-success">建仓</span></span>
                                <else />
                                <span class="label label-cc">平仓</span></span>
                                </if>
                            </td>
                            <td>
                                <font color="#f00" size="3">{$vo['jbuyprice']}<font>
                            </td>
                            <td>
                                <font color="#f00" size="3">{$vo['jsellprice']}<font>
                            </td>
<!--                             <td>
                                <font color="#f00" size="3">￥{$vo['endprofit']}<font>
                            </td>
                            <td>
                                <font color="#f00" size="3">￥{$vo['endloss']}<font>
                            </td> -->
							<td>
                                <font color="#f00" size="3">￥{$vo['jfee']}<font>
                            </td>

                            <td>
                                <font color="#f00" size="4">￥{$vo['juprice']}<font>
                            </td>

							<td>
                                <font color="#f00" size="4">￥{$vo['jaccess']}<font>
                            </td>

                            <td>
                                <font color="#f00" size="4">￥{$vo['jploss']}<font>
                            </td>
                            <td>
                                <font color="#f00" size="4">￥{$vo['balance']}<font>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
              <ul>
                    {$page}
              </ul>
            </div>
            <div>今日已有<font color="#f00" size="4">{$day_count}</font>个<a href="{:U('Order/olist')}">订单</a>达成交易</div>
        </div>

    </div>
</div>
<!-- scripts -->
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/theme.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			var eqli = $("#dashboard-menu").children().eq(0);
			eqli.attr('class','active');
			$("#dashboard-menu .active .submenu").css("display","block");
		});
	</script>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7dd4859c5b7803f341ea77ee786f33f9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</block>