<!DOCTYPE html>
<html>
<head>
	<title>验证码</title>
    <include file="Common:header" />
	<link rel="stylesheet" href="__CSS__/merge1.css">

    <script typet="text/javascript" src="__JS__/1.9.1jq/jquery.min.js"></script>
    <script type="text/javascript" src="__CSS__/layer/layer.js"></script>

	<style type="text/css">
		.formtips{
			text-align:center;
			width: 100%;
		}

        .mod-list>li {
            border-bottom: 1px solid #ededed;
        }

        .mod-list>li:after {
            content: "";
            display: block;
            position: absolute;
            left: -50%;
            width: 200%;
            height: 0px;
            background: #ededed;
            -webkit-transform: scale(0.5);
        }
	</style>
</head>
<body>
	<header class="page-header">
		<div class="content">
			<h3>确认验证码</h3>
			<div class="left">
				<a href="javascript:window.history.back()" class="iconfont go-back icon-youjiantou" id="back"></a>
			</div>
		</div>
	</header>

	<!-- 内容 -->
	<section class="page-main main-user main-smscode main-user-register">
		<form id="reviseForm" class="content" method="post">

			<div class="step step1">
				<ul class="mod-list">

					<li class="clearfix">
						<label class="left">短信验证</label>
						<input name="code" class="left input smscode" style="width:42%;" maxlength="6" placeholder="请输入短信验证码" id="c-pwd" type="text">
						<input class="right get-smscode" type="button" value="获取验证码" id="mes" onclick="mbtime();">
					</li>
					</li>
				 </ul>
			</div>
		</form>
		<a class="login-btn do-login" id="send" style="width: 90%">确认绑定</a>
	</section>
</body>
</html>

<script type="text/javascript">
 	
	var contractId = "{$contractId}";

 	var wait=60;

	function mbtime() {
	    if (wait == 60) {
	        get_phones_code();
	    }
	    if (wait == 0) {
	        $('#mes').removeClass('disabled');
	        $('#mes').attr('disabled',false);
	        $('#mes').val("重新获取");
	        wait = 60;
	    } else {
	        $('#mes').addClass('disabled');
	        $('#mes').attr('disabled',true);
	        $('#mes').val("重新发送(" + wait + ")");
	        wait--;
	        setTimeout(function() {mbtime()},1000)
	    }
	}
$(function(){
	mbtime();
});

function get_phones_code(){
                        
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
         });

        $.ajax({
            url:"{:U('quickPaySms')}",
            dataType: 'json',
            type: 'get',
            data: {'contractId':contractId},
            success:function(data){

                if(data.status == 1){
                    
                    layer.close(index);
                    layer.msg(data.msg);
                    return false;
                } else{
                	layer.close(index);
                    layer.msg(data.msg);
                    return false;
                }
            }
    });
}

$("#send").click(function(){

	var index = layer.load(1, {
		shade: [0.1,'#fff'] //0.1透明度的白色背景
	});

	var checkcode = $('.smscode').val();

	$.ajax({
		url:"{:U('rpmBindCardCommit')}",
		dataType: 'json',
		type: 'post',
		data: {'checkcode':checkcode,'contractId':contractId},
		success:function(data){

			if(data.status === 0){

				layer.close(index);
				layer.msg(data.msg);
				return false;
			}

			if(data.status === 1){

				layer.close(index);
				layer.msg(data.msg);
				window.setTimeout("window.location='{:U('User/account')}'",1000);
				return false;
			}
		},
		error: function(request) {
           	console.log(request);
        },
	});

});

</script>