<?php 
/**
 * 钱通微信支付
 * by linjuming 2017-4-23
 * --------------------------------
 */
?>

<!DOCTYPE html>
<html>
<head>
    <title>账号充值</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <script typet="text/javascript" src="__JS__/1.9.1jq/jquery.min.js"></script>
    <link rel="stylesheet" href="__CSS__/merge.css?v={$cache_version}">
    <link rel="stylesheet" href="__CSS__/merge_product.css?v={$cache_version}">
    <link rel="stylesheet" href="__CSS__/payqt_weiXinScan_qt.css?v={$cache_version}">

    <link rel="stylesheet" type="text/css" href="__CSS__/layer_mobile/layer.css">
    <script type="text/javascript" src="__CSS__/layer_mobile/layer.js"></script>

    <script language="javascript" type="text/javascript" src="/Public/Home/js/jquery.qrcode.min.js"></script>

</head>
<body>

<header class="page-header" id="head">
    <div class="content">
        <h3></h3>
        <div class="left">
            <a href="javascript:window.history.back()" class="iconfont go-back icon-xiangzuojiantou"></a>
        </div>
        <div class="right"></div>
    </div>
</header>
<div class="code_img" id="canvas" style="display:none;">
</div>
<div class="code_img" id="code_img">
</div>
<input type="hidden" value="{$qt_rs['code_img_url']}" class="qrcode">


<h6>长按二维码进行充值</h6>
<h6>
    <a href="javascript:;" onclick="check_pay_result()">返回账户中心</a>
</h6>
<input type="hidden" name="oid" id="oid" value="{$qt_rs['order_no']}">

<script type="text/javascript">



function check_pay_result()
{       
        var index = layer.open({
            type: 2
            ,content: '加载中'
        });
        
        var order_no = $('#oid').val();

        $.ajax({
        url : "{:U('Home/PayQt/get_pay_result')}",
        dataType : 'json',
        type : 'post',
        data :{'order_no':order_no},
        success : function(data){
            if(data.status === 1){
                layer.close(index);
                layer.open({
                    content: data.ret_msg,
                    btn: '确定',
                    yes: function(index, layero){
                        top.location.href="/Home/User/index.html";
                    }
                });
            }else{
                layer.close(index);
                layer.open({
                    content: data.ret_msg,
                    skin: 'msg',
                    time: 2
                });
            }
            
        }
    });
}



// /**
//  * 返回用户账号页面
//  */
// function go_back_to_account(){
//     check_pay_result(true);
// }



// /**
//  * 检查支付状态
//  * 参考 http://zqzx.hjb58.com/Home/Paysxy/pay_sxy.html?money=100&ordernum=20170424-10704-470646&paytype=wxpay_syx_weixin&paycode=254
//  */
// var auto_re_check = true; // 自动循环检测支付状态
// function check_pay_result(show_error){

//     $.ajax({
//         url : "{:U('Home/PayQt/get_pay_result')}",
//         dataType : 'json',
//         type : 'get',
//         data :{
//             oid : $('#oid').val()
//         },
//         success : function(data){
//             if(data.status === 1){
//                 layer.open({
//                     content: data.ret_msg,
//                     btn: '确定',
//                     yes: function(index, layero){
//                         // top.location.href="/Home/User/index.html";
//                         top.location.href = "U('Home/User/index')";
//                     }
//                 });
//             }else{
//                 if(show_error){
//                     layer.open({
//                         content: data.trade_state_desc,
//                         skin: 'msg',
//                         time: 2
//                     });
//                 }else if(auto_re_check){
//                     setTimeout(function(){
//                         check_pay_result(false);
//                     }, 1000);
//                 }
//             }
            
//         }
//     });
// }
// check_pay_result();

/*qrcode生成*/
function convertCanvasToImage(canvas) {
    //新Image对象，可以理解为DOM
    var image = new Image();
    // canvas.toDataURL 返回的是一串Base64编码的URL
    // 指定格式 PNG
    image.src = canvas.toDataURL("image/png");
    return image;
}

if($('.qrcode').val() != '')
{
    $('#canvas').qrcode($(".qrcode").val());

    var mycanvas1=document.getElementsByTagName('canvas')[0];

    var img=convertCanvasToImage(mycanvas1);

    $('#code_img').append(img);
}


</script>

</body>
</html>