<include file="Common:header_f" />
<include file="Common:main_container_header_f" />


<div class="page-content">
    <div class="page-header">
        <h1>
            代理
            <small>
                <i class="icon-double-angle-right"></i>
                经纪人列表
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->


            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        公众号列表&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="label label-danger label-lg" target="_blank" href="a.php?_opt=add">新建图文规则</a>
                    </div>
                    <div class="table-responsive">
                        <div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>规则名称</th>
                                    <th>触发关键词</th>
                                    <th>规则类型</th>
                                    <th>创建日期</th>
                                    <th>是否欢迎信息</th>
                                    <th>是否启用</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td><?php echo $i; ?></td>
                                    <td><a href="" target="_blank"></a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span class="span5">
                                            <label class="pull-right inline">
                                                <span class="lbl"></span>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span class="label "></span></td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="sample-table-2_info">共<b class="orange"></b>，当前显示第 <b class="orange"></b>到<b class="orange"></b></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <ul class="pagination">
                                            <li class="active">
                                                <a href="#">1</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end id sample-table-2_wrapper-->
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="space-20"></div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



<include file="Common:main_container_footer" />
<include file="Common:footer_basic_base" />

<!-- basic scripts -->

<!--[if !IE]> -->


<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__PUBACE__/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="__PUBACE__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.slimscroll.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.sparkline.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.resize.min.js"></script>



<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

    });
</script>

<include file="Common:footer_ace_base" />
<include file="Common:footer" />