<!-- basic styles -->
<link href="__PUBACE__/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBACE__/assets/css/font-awesome.min.css" />

<!--[if IE 7]>
<link rel="stylesheet" href="__PUBACE__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts

<link rel="stylesheet" href="__PUBACE__/assets\css\cyrillic.css" />
-->
<!-- ace styles -->

<link rel="stylesheet" href="__PUBACE__/assets/css/ace.min.css" />
<link rel="stylesheet" href="__PUBACE__/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="__PUBACE__/assets/css/ace-skins.min.css" />

<!--[if lte IE 8]>
<link rel="stylesheet" href="__PUBACE__/assets/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="__PUBACE__/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="__PUBACE__/assets/js/html5shiv.js"></script>
<script src="__PUBACE__/assets/js/respond.min.js"></script>
<![endif]-->

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="icon-double-angle-right"></i>
            修改商品信息
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-6">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>
                    <div class="col-sm-9">
                        <label>
                            <input name="form-field-radio" class="ace" type="radio">
                            <span class="lbl"> radio option 1</span>
                        </label>
                        <label>
                            <input name="form-field-radio" class="ace" type="radio">
                            <span class="lbl"> radio option 1</span>
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="Username" class="col-xs-8 col-sm-12" />
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-2" placeholder="Username" class="col-xs-8 col-sm-12" />
                    </div>
                </div>


            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


<!-- basic scripts -->
<script src="__PUBACE__/assets\js\jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="__PUBACE__/assets\js\jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBACE__/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBACE__/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='__PUBACE__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="__PUBACE__/assets/js/bootstrap.min.js"></script>
<script src="__PUBACE__/assets/js/typeahead-bs2.min.js"></script>


<!-- basic scripts -->

<!--[if !IE]> -->


<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__PUBACE__/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="__PUBACE__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.slimscroll.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.sparkline.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.resize.min.js"></script>



<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

    });
</script>

<script src="__PUBACE__/assets/js/ace-elements.min.js"></script>
<script src="__PUBACE__/assets/js/ace.min.js"></script>
