<extend name="Base/common"/>
<block name="content">
<div class="main sidebar-minified">
<style type="text/css">
	.datatable,.datatable th{text-align:center;}
</style>
<!--/row-->
			<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>充值提现</strong>
								<div style="display: inline-block; margin-left: 20px">
								 <form id="tradefrom"  method="get" action="{:U('Trade/recharge')}">
									<span>起始时间：</span><input style="width:12%;border:10px" value="{$sea.starttime}" type="text" id="starttime" name="starttime" onclick="return showCalendar('starttime', 'y-mm-dd');"  />
									<span>结束时间：</span><input style="width:12%;border:10px" value="{$sea.endtime}" type="text" id="endtime" name="endtime" onclick="return showCalendar('endtime', 'y-mm-dd');"  />
									<span>交易类型：</span>
									
									<select id="type" class="span6" name="type">
                    				<option value="">默认不选</option>
									<if condition="$sea.type eq '充值'">
	                                <option value="充值" selected>充值</option>
									<else/>
									<option value="充值">充值</option>
									</if>
									<if condition="$sea.type eq '提现'">
	                                <option value="提现" selected>提现</option>
									<else/>
									<option value="提现">体现</option>
									</if>
                    			</select>
								<span>下级单位</span>
									<select style="width:100px;background:nono" name="oid">
										<option></option>
										<foreach name="huilist" item="vo">
										<php>
										if($sea['oid'] == $vo['uid']){
										</php>
										<option value="{$vo.uid}" selected>{$vo.username}</option>
										<php>}else{</php>
										<option value="{$vo.uid}">{$vo.username}</option>
										<php>}</php>
									</foreach>
									</select>
									<span>名字：</span><input style="width:12%;border:10px" type="text" value="{$sea.username}" name="username">
										<a class="btn btn-danger" id="tradebut">
												<i class="fa">搜索</i> 
										</a>
								  </form>
								 </div> 
</h2>
							<div class="panel-actions">
								<a href="" ><i class="fa fa-rotate-right"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>编号</th> <th>用户</th><th>上级</th><th>操作时间</th> <th>交易类型</th> <th>金额</th>
								  </tr>
							  </thead>   
							  <tbody>
							  <foreach name="rechargelist" item="vo" >
									<tr> 
										<td>{$vo.bpid}</td>
		                                <td>{$vo.username}</td>
										<td>{$vo.oid}</td>
										<td>{$vo.bptime}</td>
										<td>{$vo.bptype}</td>
										<td>{$vo.bpprice}</td>
										
									</tr>
								</foreach> 
									
								
								
							  </tbody>
						  </table> 
							<span style="margin-right:30px;float:right">总金额：<i style="color:red">{$summoeny}元</i></span>
						   <div class="pagelist">{$page}</div>	
						</div>
					</div>
				</div><!--/col-->
			
			</div><!--/row-->
   
		</div>
 </block>