<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen" />
<link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
<script type="text/javascript" src="__CSS__/layerui/layui.js"></script>

<div class="container-fluid">
    <div id="pad-wrapper" class="users-list">
        <div class="row-fluid header">
                <form id="form1" action="__URL__/chongzhi" method="get">
                <h3 style="height: 40px;width: 100%;">充值记录</h3>
                <div class="span10 pull-left" style="margin-top: 20px;">
                    <div class="tpsearch" style="width: 25%">
                    <input type="hidden" id="yunying" value="{$yunying}">
                        运营中心：<select id="otype" class="span6" name="yunying">
                                    <option value="">默认不选</option>
                                    <volist name="info" id="vo">
                                    <option value="{$vo.uid}">{$vo.username}</option>
                                    </volist>
                                </select>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                        机构：<select id="jingjiren" class="span6" name="jingjiren">
                                    <option value="">默认不选</option>
                                    <notempty name="jingjiren">
                                        <option value="{$jingjiren['uid']}" selected>{$jingjiren['username']}</option>
                                    </notempty>
                                </select>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                        会员：<select id="user" class="span6" name="user">
                                    <option value="">默认不选</option>
                                    <notempty name="user">
                                        <option value="{$user['uid']}" selected>{$user['username']}</option>
                                    </notempty>
                                </select>
                    </div>
                </div>

                <div class="span10 pull-left" style="margin-top: 20px;">
                    <div class="tpsearch">
                        用户类型：<select id="type" class="span6" name="user_type">
                                    <option value="">默认不选</option>
                                    <if condition="$sea.user_type eq '4'">
                                    <option value="4" selected>普通会员</option>
                                    <else/>
                                    <option value="4">普通会员</option>
                                    </if>
                                    <if condition="$sea.user_type eq '5'">
                                    <option value="5" selected>运营中心</option>
                                    <else/>
                                    <option value="5">运营中心</option>
                                    </if>
                                    <if condition="$sea.user_type eq '6'">
                                    <option value="6" selected>机构</option>
                                    <else/>
                                    <option value="6">机构</option>
                                    </if>
                                </select>
                    </div>
                    <div class="tpsearch">
                        充值状态：<select id="type" class="span6" name="status">
                                    <option value="">默认不选</option>
                                    <if condition="$sea.status eq '1'">
                                    <option value="1" selected>未处理</option>
                                    <else />
                                    <option value="1" >未处理</option>
                                    </if>
                                    <if condition="$sea.status eq '2'">
                                    <option value="2" selected>充值成功</option>
                                    <else />
                                    <option value="2" >充值成功</option>
                                    </if>
                                    <if condition="$sea.status eq '3'">
                                    <option value="3" selected>充值失败</option>
                                    <else />
                                    <option value="3">充值失败</option>
                                    </if>
                                </select>
                    </div>

                    <div class="tpsearch">
                        手机号码：<input type="text" value="{$sea.utel}" class="span6 search" placeholder="请输入手机号码查找..." name="utel" id="username"/>
                    </div>
                </div>

                <div class="span10 pull-left" style="margin-top: 20px;">
                    <div class="tpsearch">
                        充值渠道：<select class="span6" name="pay_type">
                                    <option value="">默认不选</option>
                                    <volist name="payType" id="vo">
                                        <eq name="sea['pay_type']" value="$vo.id">
                                            <option value="{$vo.id}" selected="">{$vo.pay_name}</option>
                                        <else />
                                            <option value="{$vo.id}">{$vo.pay_name}</option>
                                        </eq>
                                    </volist>
                                </select>
                    </div>

                    <div class="tpsearch">
                        充值单号：<input type="text" value="{$sea.balanceno}" class="span6 search" placeholder="请输入充值单号查找..." name="balanceno"/>
                    </div>
                </div>

                <div class="span10 pull-left" style="margin: 20px 0 10px 30px;">
                    
                    <div class="tpsearch">
                                    <if condition="$sea['starttime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
                                   <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="starttime">
                                   </if>
                    </div>
                    <div class="tpsearch">
                            <if condition="$sea['endtime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">
                                <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="endtime">
                                </if>
                    </div>
                    <div class="span10 pull-left " style="width:30%;">
                        <a href="javascript:void(0)" class="btn-flat info" onclick="submit()">开始查找</a>
                        <a href="javascript:void(0)" class="btn-flat info" onclick="sub()">查询导出</a>
                    </div>

                </div>
               
                </form>
            </div>
            
        <!-- Users table -->
        <div class="row-fluid table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="span1 sortable">
                            编号
                        </th>
                        <th class="span1 sortable">
                            订单号
                        </th>
                        <th class="span1 sortable">
                            <span class="line"></span>用户名
                        </th>
                        <th class="span1 sortable">
                            <span class="line"></span>手机号
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>用户类型
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>生成时间
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>处理时间
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>充值金额
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>会员账户余额
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>状态
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>充值渠道
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>接口校验
                        </th>
                        
                    </tr>
                </thead>
                <tbody id="ajaxback">
                <volist name="rechargelist" id="relist">
                <!-- row -->
                <tr class="first">
                    
                    <td>
                        {$relist.bpid}
                    </td>
                    <td>
                        {$relist.balanceno}
                    </td>
                    <td>
                        <if condition="$relist['busername'] neq '' ">
                            <a href="{:U('User/updateuser',array('uid'=>$relist['uid']))}">{$relist['busername']}</a>
                        <else/>
                            <a href="{:U('User/updateuser',array('uid'=>$relist['uid']))}">{$relist['utel']}</a>
                        </if>
                    </td>

                    <td>
                        {$relist[utel]} 
                    </td>
                    
                    <td>
                       <eq name="relist['otype']" value="4">
                             普通会员
                        </eq>
                        <eq name="relist['otype']" value="5">
                             运营中心
                        </eq>
                        <eq name="relist['otype']" value="6">
                             机构
                        </eq>
                    </td>
                    <td>
                        {$relist[bptime]|date='Y-m-d H:i:s',###}
                    </td>
                    <td>
                        <if condition="$relist['cltime'] neq '' and $relist['status'] eq '1' and $relist['isverified'] eq '1'">
                        {$relist[cltime]|date='Y-m-d H:i:s',###}
                        <else />
                         —
                        </if>
                    </td>
                    <td>
                        <font color="#f00" size="4">{$relist.bpprice}</font>元
                    </td>
                    <td>
                        <font color="#f00" size="4">{$relist['balance']}</font>元
                    </td>
                    <td>

                        <if condition="($relist['status'] eq 1) AND ($relist['isverified'] eq 1) "> 
                              <font color="green">充值完成</font>
                        <elseif condition="($relist['status'] eq 1) AND ($relist['isverified'] eq 0) "/>
                            <font color="red">充值失败</font>
                        <elseif condition="($relist['status'] eq 0) AND ($relist['isverified'] eq 0) "/>
                            <font color="red">未处理</font>
                        <else />
                             <font color="red">不存在</font>
                        </if>

                    </td>
                    <td>{$relist.pay_name}</td>
                    <td>
                        <if condition="($relist['status'] eq 0) AND ($relist['isverified'] eq 0) AND ($relist['pay_type'] eq 28 OR $relist['pay_type'] eq 29)">
                           <button class="layui-btn getMoney" data-balanceno="{$relist.balanceno}">点击充值</button>
                        <else />
                           <button class="layui-btn layui-btn-disabled">充值成功</button>
                        </if>
                    </td>
                </tr>
                
                <!-- row -->
                </volist>
                </tbody>
            </table>
        </div>
        <span style="color: red;">总充值金额&nbsp;:<if condition="$amount eq ''">0元<else />{$amount.amount}元</if></span> </br>
        <span style="color: red;">成功充值金额&nbsp;:<if condition="$amount eq ''">0元<else />{$amount.chengong}元</if></span>
        <div class="pagination pull-right">
            <ul id="show">
                {$page}
            </ul>
        </div>
        <!-- end users table -->
    </div>
</div>

<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/popup_layer.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
    $(".elecl").click(function(){
        var bpid = $(this).attr("bpid");
        $('#popupLayer').css('display','block');
        $('#elesh'+bpid).animate({
            right: '45%', top: 200 ,opacity: 'toggle'
        },600);
    })
    $('.closesh').click(function(){
        $('#popupLayer').css('display','none');
        $('.shtc').css('display','none');
    })
    $(".shtj").click(function(){
        var bpid = $(this).attr("bpid");
        var rebpprce=$('.rebpprce').html(); 
        var userid=$('#userid').val();
        var isverified = $('#elesh'+bpid+' input[name="isverified"]:checked ').val();
        var remarks = $("#remarks"+bpid).val();
        $.ajax({  
            type: "post",  
            url: "{:U('User/upbalance')}",
            data:{"bpid":bpid,"isverified":isverified,"remarks":remarks,"rebpprce":rebpprce,"userid":userid},
            success: function(data) {
                if(data=="success"){
                    $('#popupLayer').css('display','none');
                    $('.shtc').css('display','none');
                    alert('处理成功！');
                    window.location.reload();
                }else{
                    alert('处理失败!');
                }
            },
            error: function(data) {  
                console.log(data);
            }
      });
    })

function sub()
{
    $('#form1').attr("action","__URL__/daochu_rechare");
    $('#form1').submit();
}

function submit() {

    $('#form1').attr("action","__URL__/chongzhi");
    $('#form1').submit();
}

</script>
<script type="text/javascript">
    $(document).ready(function(){
        var eqli = $("#dashboard-menu").children().eq(5);
        eqli.attr('class','active');
        $("#dashboard-menu .active .submenu").css("display","block");
        
        /** 
         * 时间对象的格式化; 
         */  
        Date.prototype.format = function(format) {  
            /* 
             * eg:format="yyyy-MM-dd hh:mm:ss"; 
             */  
            var o = {  
                "M+" : this.getMonth() + 1, // month  
                "d+" : this.getDate(), // day  
                "h+" : this.getHours(), // hour  
                "m+" : this.getMinutes(), // minute  
                "s+" : this.getSeconds(), // second  
                "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
                "S" : this.getMilliseconds()  
                // millisecond  
            }  
          
            if (/(y+)/.test(format)) {  
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
                                - RegExp.$1.length));  
            }  
          
            for (var k in o) {  
                if (new RegExp("(" + k + ")").test(format)) {  
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1  
                                    ? o[k]  
                                    : ("00" + o[k]).substr(("" + o[k]).length));  
                }  
            }  
            return format;  
        }
    });


//运营中心回填
var yunying = $("#yunying").val();
$("#otype option").each(function(){      
    if(yunying == $(this).val()){
        $(this).attr('selected',true);
    }
});

 /*根据选择运营中心机构选择*/
$("#otype").change(function() {
        var parent_id = $("#otype").val();
        $.ajax({
            type: "GET",
            url: "{:U("user/ajax_get_brokers")}",
            data: "parent_id="+parent_id,
            success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                }
            }
            $("#jingjiren").html(html);
        }
   });
});
    /*根据选择机构获取下属会员列表*/
$("#jingjiren").change(function() {
        var parent_id = $("#jingjiren").val();
        $.ajax({
            type: "GET",
            url: "{:U("user/ajax_get_brokers")}",
            data: "parent_id="+parent_id,
            success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                }
            }
            $("#user").html(html);
        }
    });
});
</script>

<script type="text/javascript">
//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});
</script>


<script type="text/javascript" src="__PUBJS__/layer/layer.js"></script>
<script type="text/javascript">
$('.getMoney').click(function(){

    var index = layer.load(0, {
        shade: [0.1,'#fff'] //0.1透明度的白色背景
    });
    
    var balanceno = $(this).attr('data-balanceno');
    $.ajax({
            url: "{:U('./Home/PayManual/notify')}",
            dataType: 'json',
            type: 'get',
            data: {'balanceno': balanceno},
            success: function (data) {
                  layer.close(index);
                  layer.msg(data.msg, {
                    icon: 7,
                    time: 5*1000,
                  });
                  if(data.status == 1) top.location.reload();
            }
    });    
});
</script>
</block>