<footer class="page-footer">
    <div class="content">
        <ul>
            <li class="home">
                <a href="{:U('Index/index')}">
                    <span class="icon-home img"></span><span>首页</span>
                </a>
            </li>
            <li class="trade">
                <a href="{:U('Index/product')}">
                    <span class="icon-jiaoyi img" style="line-height: 0.18rem;"></span><span>交易</span>
                </a>
            </li>
            <li class="ziXun">
                <a href="{:U('News/index')}">
                    <span class="icon-zx img"></span><span>资讯</span>
                </a>
            </li>
            <li class="mine">
                <a href="{:U('User/index')}">
                    <span class="icon-gerne img"></span><span class="active">我的</span>
                </a>
            </li>
        </ul>
    </div>
</footer>